<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.smart.order.dao.CourseMapper">

    <resultMap id="BaseResultMap" type="me.smart.order.model.Course">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="merchant_id" property="merchantId" jdbcType="BIGINT"/>
        <result column="category_id" property="categoryId" jdbcType="BIGINT"/>
        <result column="course_img" property="courseImg" jdbcType="VARCHAR"/>
        <result column="sale_price" property="salePrice" jdbcType="DECIMAL"/>
        <result column="special_price" property="specialPrice" jdbcType="DECIMAL"/>
        <result column="member_price" property="memberPrice" jdbcType="DECIMAL"/>
        <result column="sort" property="sort" jdbcType="BIGINT"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,merchant_id,category_id,course_img,sale_price,special_price,member_price,
        is_delete,created_at,updated_at
    </sql>


    <select id="getCourseListByMerchantAndCategory" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from course
        where
        merchant_id = #{merchantId,jdbcType=BIGINT}
        and category_id = #{categoryId,jdbcType=BIGINT}
        and is_delete = 0
        order by sort DESC
    </select>

    <select id="findById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from course
        where
        id = #{id,jdbcType=BIGINT}
    </select>


    <select id="findByIds" resultMap="BaseResultMap" parameterType="java.util.List">
        SELECT
        <include refid="Base_Column_List"/>
        from course
        where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>
</mapper>