<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.smart.order.dao.CourseCategoryMapper">

    <resultMap id="BaseResultMap" type="me.smart.order.model.CourseCategory">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="merchant_id" property="merchantId" jdbcType="BIGINT"/>
        <result column="sort" property="sort" jdbcType="BIGINT"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category_name,merchant_id,is_delete,created_at,updated_at
    </sql>

    <select id="getCourseCategoryListByMerchantId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        course_category
        where
        merchant_id = #{merchantId,jdbcType=BIGINT}
        and is_delete = 0
        order by sort DESC
    </select>


    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        course_category
        where
        id = #{id,jdbcType=BIGINT}
        and is_delete = 0
    </select>

    <insert id="insert" parameterType="me.smart.order.model.CourseCategory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO course_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryName != null">
                category_name
            </if>
            <if test="merchantCategoryId != null">
                merchant_category_id
            </if>
            <if test="merchantId != null">
                merchant_id
            </if>
            <if test="sort != null">
                sort
            </if>
            <if test="isDelete != null">
                is_delete
            </if>
            <if test="createdAt != null">
                created_at
            </if>
            <if test="updatedAt != null">
                updated_at
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryName != null">
                #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="merchantCategoryId != null">
                #{merchantCategoryId,jdbcType=BIGINT},
            </if>
            <if test="merchantId != null">
                #{merchantId,jdbcType=BIGINT},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=BIGINT},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="getByMerchantIdAndName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from  course_category
        where
        merchant_id = #{merchantId,jdbcType=BIGINT}
        and category_name = #{categoryName,jdbcType=VARCHAR}
        and is_delete = 0
    </select>

    <update id="updateIsDelete">
        update course_category set is_delete = 1 where id = #{id,jdbcType=BIGINT} and is_delete = 0
    </update>

    <update id="updateCategoryName" parameterType="me.smart.order.model.CourseCategory">
        update course_category set category_name = #{categoryName,jdbcType=VARCHAR}
    </update>
</mapper>