<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.smart.order.dao.MenuCourseMapper">

    <resultMap id="BaseResultMap" type="me.smart.order.model.MenuCourse">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="course_id" property="courseId" jdbcType="BIGINT"/>
        <result column="member_id" property="memberId" jdbcType="BIGINT"/>
        <result column="merchant_category_id" property="merchantCategoryId" jdbcType="BIGINT"/>
        <result column="out_trade_no" property="menuOrderNo" jdbcType="VARCHAR"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="payAmount" property="payAmount" jdbcType="DECIMAL"/>
        <result column="discount_amount" property="discountAmount" jdbcType="DECIMAL"/>
        <result column="discount_type" property="discountType" jdbcType="BIGINT"/>
        <result column="discountC_comment" property="discountComment" jdbcType="VARCHAR"/>
        <result column="order_status" property="orderStatus" jdbcType="BIGINT"/>
        <result column="table_no" property="tableNo" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,merchant_id,member_id,merchant_category_id,out_trade_no,total_amount,payAmount,discount_amount,discount_type,
        discountC_comment,order_status,table_no,is_delete,created_at,updated_at
    </sql>
    

</mapper>