<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.smart.order.dao.MerchantCourseCategoryMapper">

    <resultMap id="BaseResultMap" type="me.smart.order.model.MerchantCourseCategory">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="merchant_id" property="merchantId" jdbcType="BIGINT"/>
        <result column="sort" property="sort" jdbcType="BIGINT"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category_name,merchant_id,sort,is_delete,created_at,updated_at
    </sql>

    <select id="getListByMerchantId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        merchant_course_category
        where
        merchant_id = #{merchantId,jdbcType=BIGINT}
        and is_delete = 0
        order by sort DESC
    </select>

    <insert id="insert" parameterType="me.smart.order.model.MerchantCourseCategory">
        insert  into merchant_course_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryName != null">
                category_nme,
            </if>
            <if test="merchantId != null">
                merchant_id,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
        </trim>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryName != null">
                #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="merchantId != null">
                #{merchantId,jdbcType=BIGINT},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=BIGINT},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from merchant_course_category
        where id = #{id,jdbcType=BIGINT}
    </select>

    <update id="update" parameterType="me.smart.order.model.MerchantCourseCategory">
          update merchant_course_category
          <set>
              <if test="categoryName != null">
                  category_nme = #{categoryName,jdbcType=VARCHAR},
              </if>
              <if test="merchantId != null">
                  merchant_id = #{merchantId,jdbcType=BIGINT},
              </if>
              <if test="sort != null">
                  sort = #{sort,jdbcType=BIGINT},
              </if>
              <if test="isDelete != null">
                  is_delete = #{isDelete,jdbcType=TINYINT},
              </if>
              <if test="createdAt != null">
                  created_at = #{createdAt,jdbcType=TIMESTAMP},
              </if>
              <if test="updatedAt != null">
                  updated_at = #{updatedAt,jdbcType=TIMESTAMP},
              </if>
          </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findByMchIdAndName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from merchant_course_category
        where merchant_id = #{merchantId,jdbcType=BIGINT}
        and category_name = #{categoryName,jdbcType=VARCHAR}
        and is_delete = 0
    </select>
</mapper>