<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.smart.order.dao.PaymentOrderMapper">

    <resultMap id="BaseResultMap" type="me.smart.order.model.PaymentOrder">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="merchant_id" property="merchantId" jdbcType="BIGINT"/>
        <result column="memberId" property="memberId" jdbcType="BIGINT"/>
        <result column="menuOrderNo" property="menuOrderNo" jdbcType="VARCHAR"/>
        <result column="menu_order_no" property="menuOrderNo" jdbcType="VARCHAR"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="order_name" property="orderName" jdbcType="VARCHAR"/>
        <result column="product_body" property="productBody" jdbcType="VARCHAR"/>
        <result column="order_data" property="orderData" jdbcType="VARCHAR"/>
        <result column="pay_dead_line" property="payDeadLine" jdbcType="INT"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="order_status" property="orderStatus" jdbcType="TINYINT"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="return_code" property="returnCode" jdbcType="TINYINT"/>
        <result column="return_msg" property="returnMsg" jdbcType="TINYINT"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,merchant_id,member_id,out_trade_no,menu_order_no,total_amount,order_name,product_body,
        order_data,pay_dead_line,currency, order_status,is_delete,return_code,return_msg,created_at,updated_at
    </sql>

    <insert id="insert" parameterType="me.smart.order.model.PaymentOrder" useGeneratedKeys="true" keyProperty="id">
        insert into payment_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">
                merchant_id,
            </if>
            <if test="memberId != null">
                memberId,
            </if>
            <if test="menuOrderNo != null">
                menuOrderNo,
            </if>
            <if test="menuOrderNo != null">
                menu_order_no,
            </if>
            <if test="totalAmount != null">
                total_amount,
            </if>
            <if test="orderName != null">
                order_name,
            </if>
            <if test="productBody != null">
                product_body,
            </if>
            <if test="orderData != null">
                order_data,
            </if>
            <if test="payDeadLine != null">
                pay_dead_line,
            </if>
            <if test="currency != null">
                currency,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="returnCode != null">
                return_code,
            </if>
            <if test="returnMsg != null">
                return_msg,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">
                #{merchantId,jdbcType=BIGINT}
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=BIGINT}
            </if>
            <if test="menuOrderNo != null">
                #{menuOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="menuOrderNo != null">
                #{menuOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="totalAmount != null">
                #{totalAmount,jdbcType=DECIMAL}
            </if>
            <if test="orderName != null">
                orderName,
            </if>
            <if test="productBody != null">
                #{productBody,jdbcType=VARCHAR}
            </if>
            <if test="orderData != null">
                #{orderData,jdbcType=VARCHAR}
            </if>
            <if test="payDeadLine != null">
                #{payDeadLine,jdbcType=INT}
            </if>
            <if test="currency != null">
                #{currency,jdbcType=VARCHAR}
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=TINYINT}
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=TINYINT}
            </if>
            <if test="returnCode != null">
                #{returnCode,jdbcType=TINYINT}
            </if>
            <if test="returnMsg != null">
                #{returnMsg,jdbcType=VARCHAR}
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP}
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>


    <select id="selectByMenuOrderNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from payment_record_trace
        where member_id = #{memberId,jdbcType=BIGINT}
          and menu_order_no = #{menuOrderNo,jdbcType=VARCHAR}
          and is_delete = 0
    </select>

    <select id="selectByOutTradeNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from payment_record_trace
        where member_id = #{memberId,jdbcType=BIGINT}
        and out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
        and is_delete = 0
    </select>

    <update id="update" parameterType="me.smart.order.model.PaymentOrder">
      update payment_record_trace
      <set>
          <if test="merchantId != null">
              merchant_id = #{merchantId,jdbcType=BIGINT}
          </if>
          <if test="memberId != null">
              memberId = #{memberId,jdbcType=BIGINT}
          </if>
          <if test="menuOrderNo != null">
              menuOrderNo = #{menuOrderNo,jdbcType=VARCHAR}
          </if>
          <if test="menuOrderNo != null">
              menu_order_no = #{menuOrderNo,jdbcType=VARCHAR}
          </if>
          <if test="totalAmount != null">
              total_amount = #{totalAmount,jdbcType=DECIMAL}
          </if>
          <if test="orderName != null">
              order_name = orderName,
          </if>
          <if test="productBody != null">
              product_body = #{productBody,jdbcType=VARCHAR}
          </if>
          <if test="orderData != null">
              order_data = #{orderData,jdbcType=VARCHAR}
          </if>
          <if test="payDeadLine != null">
              pay_dead_line = #{payDeadLine,jdbcType=INT}
          </if>
          <if test="currency != null">
              currency = #{currency,jdbcType=VARCHAR}
          </if>
          <if test="orderStatus != null">
              order_status = #{orderStatus,jdbcType=TINYINT}
          </if>
          <if test="isDelete != null">
              is_delete = #{isDelete,jdbcType=TINYINT}
          </if>
          <if test="returnCode != null">
              return_code = #{returnCode,jdbcType=TINYINT}
          </if>
          <if test="returnMsg != null">
              return_msg = #{returnMsg,jdbcType=VARCHAR}
          </if>
          <if test="createdAt != null">
              created_at = #{createdAt,jdbcType=TIMESTAMP}
          </if>
          <if test="updatedAt != null">
              updated_at = #{updatedAt,jdbcType=TIMESTAMP}
          </if>
      </set>
      where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>